* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
}


:root {
      --green: #007d2f;
      --gray: #f5f5f5;
      --mont: 'Montserrat';
      --nunito: 'Nunito';

}


.header_nav_logo {
      padding-top: 17px;
}

.header {
      background: url(../img/header-bg.png) bottom / cover no-repeat;
      height: 100vh;
      width: 100%;
}

.nav_links {
      text-transform: uppercase;
      font-size: 12px;
      color: #191919;
      font-family: 'Montserrat';
      font-weight: 500;
}

.nav_links:hover {
      color: #007d2f;
      text-decoration: none;
}

.header_info {
      padding-top: 83px;
}

.header_title {
      font-size: 35px;
      color: #1d1d1d;
      margin-bottom: 40px;
      font-family: 'Montserrat';
      font-weight: 500;
}

.header_text {
      font-size: 15px;
      line-height: 24px;
      color: #787878;
      font-family: 'Montserrat';
      font-weight: 100;
      margin-bottom: 55px;
}

.header_link_contact {
      width: 190px;
      height: 55px;
      background: #007d2f;
      color: #ffffff;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.header_link_contact:hover {
      color: #ffffff;
      text-decoration: none;
      background: #025f26;
}

/* -------------------------------------------- */
.about_us__block {
      padding-top: 100px;
      margin-bottom: 40px;
}

.about_us__block_title {
      color: #191919;
      font-size: 35px;
      font-family: 'Montserrat';
      font-weight: 500;
}

.about_us__block_text {
      color: #787878;
      font-family: 'Nunito';
      font-size: 14px;
}

.prof_skills {
      margin-top: 40px;

}

.prof_skills {
      background: var(--gray);
}


.progress {
      height: 3px;
}

.progress-bar {
      background: var(--green);
      height: 3px;
}

.prof_skills__progress {
      margin-left: 100px;
}

.prof_skills__progress p {
      margin-top: 40px;

      font-family: var(--mont);
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;

}

.prof_skills__progress_title {
      color: #171717;
      font-size: 30px;
      font-family: var(--mont);
      font-weight: 500;
}

.section_info {
      background: var(--green);

}

.section_info__feedbacks {
      padding: 80px 0;
      color: white;
      font-family: var(--mont);
      font-weight: 500;
      text-transform: uppercase;
}

.projects_done i {
      font-size: 40px;
      margin-bottom: 7px;
}

.work_gallery img {
      height: 300px;
}



.main__load {
      background: var(--green);

}

.load__link {
      text-transform: uppercase;
      color: white;
      font-size: 21px;
      padding-top: 46px;
      padding-bottom: 40px;
      font-family: var(--mont);
      font-weight: 500;
}

.load__link:hover {
      text-decoration: none;
      color: white;
}



.process__title {
      font-size: 43px;
      color: #191919;
      font-family: var(--mont);
      font-weight: 500;
      padding-top: 106px;
}

.process__text {
      color: #787878;
      font-size: 22px;
      line-height: 33px;
      padding-bottom: 40px;
}

.video-mod {
      background: url(../img/video\ here.jpg) center/cover no-repeat;
      height: 570px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;

}

.video-mod__play {
      width: 85px;
      height: 85px;
      background: var(--green);
      border-radius: 50%;
      color: white;
      font-size: 35px;
      transition: 0.5s;
}

.video-mod__play:hover {
      cursor: pointer;
      background: var(--gray);
      color: var(--green);
}

.info-blog {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--gray);

}

.blog__inner {
      padding-top: 100px;
      padding-bottom: 55px;
}

.info__items {
      margin-bottom: 50px;
}

.info__items__title {
      font-family: var(--mont);
      font-weight: 500;
      font-size: 18px;
      color: #191919;
      margin-top: 25px;
      text-transform: uppercase;
}

.info__items__text {
      color: #787878;
      font-family: var(--nunito);
      line-height: 24px;
}

.quotes {
      height: 500px;
      width: 100%;
      background: var(--green);
}


.carouser__text {
      color: white;
      font-size: 20px;
      line-height: 30px;
      font-family: var(--mont);
      font-weight: 500;
      letter-spacing: 1px;
}

.carouser_author {
      color: white;
      text-transform: uppercase;
      font-family: var(--mont);
      font-weight: 500;
      margin-top: 45px;
      padding-bottom: 100px;
}

.carousel-indicators li {
      width: 12px;
      height: 12px;
      border-radius: 50%;

}

.bands {
      padding-top: 65px;
      padding-bottom: 65px;
}
.client-block{
      width: 100%;
      background: var(--gray);
}

.form__title {
      font-family: var(--mont);
      font-weight: 500;
      font-size: 30px;
      color: #1d1d1d;
      text-align: center;
      padding-top: 35px;
}

.form__text {
      font-family: var(--nunito);
      line-height: 24px;
      font-size: 16px;
      color: #787878;
      text-align: center;
      padding-top: 40px;      
      margin-bottom: 50px;
}

.form__input {
      width: 350px;
      height: 50px;
      border: none;
      margin-bottom: 30px;
      

}

.form__input:focus {
      padding-left: 15px;
      font-family: var(--mont);
      font-size: 16px;
      font-weight: 500;
      color: var(--green);

}

.form__input::placeholder {
      font-family: var(--nunito);
      font-style: 15px;
      color: #787878;
      padding-left: 10px;
}
.form__input-title{
      height: 50px;
      border: none;
      margin-bottom: 30px;
}
.form__input-title::placeholder{
      padding-left: 15px;
      font-family: var(--nunito);
      font-style: 15px;
      color: #787878;
}
.form__input-title:focus{
      padding-left: 15px;
      font-family: var(--mont);
      font-size: 16px;
      font-weight: 500;
      color: black;
}
.form__textarea{
      border: none;
}
.form__textarea::placeholder{
      padding-left: 15px;
      font-family: var(--nunito);
      font-style: 15px;
      color: #787878;
}
.form__textarea:focus{
      padding-left: 15px;
      font-family: var(--mont);
      font-size: 16px;
      font-weight: 500;
      color: black;
}
.form__button{
      width: 160px;
      height: 55px;
      background: var(--green);
      border: none;
      color: white;
      font-family: var(--mont);
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 30px;
}
.form{
      padding-bottom: 100px;
}
/* --------------------fooooter------------------------- */
.footer{
      width: 100%;
      background: #141414;
  }
  .footer-nav{
      padding-top: 100px;
      padding-bottom: 100px;
  }
  .info__title{
      font-size: 18px;
      color: white;
      font-family: var(--mont);
      font-weight: 500;
  }
  .info__text{
      color: #bcbcbc;
      font-size: 14px;
      line-height: 24px;
      font-family: var(--mont);
      margin-top: 30px;
  }
  .contacts__text{
      color: #bcbcbc;
      font-family: var(--nunito);
      line-height: 24px;
      font-size: 14px;
      transition: 0.5s;
  }
  .contacts__text:hover{
      color: white;
  }
  .footer__list{
      margin-left: 30px;
      list-style: none;
      
  }
  .footer__links{
      color: #bcbcbc;
      font-size: 14px;
      
  }